<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="${title}">top page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    h1 {
      font-size: 18px;
      font-weight: bold;
      color: gray;
    }

    body {
      font-size: 13px;
      color: gray;
      margin: 5px 25px;
    }

    tr {
      margin: 5px;
    }

    th {
      padding: 5px;
      color: white;
      background: darkgray;
    }

    td {
      padding: 5px;
      color: black;
      background: #f0f0f0;
    }
  </style>
</head>

<body>
  <h1 th:text="${title}">MyMsg page</h1>
  <p th:text="${msg}"></p>
  <table>
    <form method="POST" action="/msg" th:object="${formModel}">
      <input type="hidden" name="id" th:value="*{id}" />
      <tr>
        <td><label for="title">タイトル</label></td>
        <td><input type="text" name="title" th:value="*{title}" /></td>
      </tr>
      <tr>
        <td><label for="message">メッセージ</label></td>
        <td><textarea name="message" th:text="*{message}"></textarea></td>
      </tr>
      <tr>
        <td><label for="mydata">MYDATA_ID</label></td>
        <td><input type="text" th:value="${user_id}" name="mydata"/></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit"></td>
      </tr>
    </form>
  </table>
  <hr />
  <table>
    <tr>
      <!-- <th>ID</th> -->
      <th>名前</th>
      <th>タイトル</th>
      <th>メッセージ</th>
    </tr>
    <tr th:each="obj : ${datalist}">
      <!-- <td th:text="${obj.id}"></td> -->
      <td th:text="${obj.mydata.name}"></td>
      <td th:text="${obj.title}"></td>
      <td th:text="${obj.message}"></td>
    </tr>
  </table>
</body>

</html>